@@ -0,
0+1,
612 @@ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

.spacer-61497b8fa0455 {
    height: 100px;
}

div.section {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#careers-detail-box {
    margin-top: 0px;
}

#careers-detail-box .detail-title {
    text-align: center;
}

#careers-detail-box h1 {
    color: #252b33;
    font-size: 48px;
    font-weight: 800;
}
body.dark-mode #careers-detail-box h1{
    color: white;
}
body.dark-mode #careers-detail-box p{
    color:white ;
}
#careers-detail-box .detail-title p,
#careers-detail-box .exp-detail .left p,
#careers-detail-box .exp-detail .right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #323a45;
}

#careers-detail-box .career-detail {
    background: #fff;
    margin-top: 25px;
    padding: 40px 30px 0px;
    box-shadow: 0px 5px 30px 0 rgb(0 0 0 / 30%);
}

#careers-detail-box .career-detail ul {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0;
}

.mpc-row p {
    max-width: 100%;
}

#careers-detail-box .exp-detail {
    width: 100%;
    padding: 30px 0px;
    overflow: hidden;
    border-top: 1px solid #e2e6e9;
}

#careers-detail-box .career-detail ul li {
    background: url(../img/career/circle-black.png) no-repeat left 5px;
    list-style: none;
    width: 47%;
    float: left;
    font-family: "Poppins", sans-serif;
    padding-left: 24px;
    margin-bottom: 15px;
    color: #323a45;
    font-size: 16px;
    margin-right: 30px;
}

#careers-detail-box .exp-detail .left {
    width: 50%;
    float: left;
}

#careers-detail-box .detail-title p,
#careers-detail-box .exp-detail .left p,
#careers-detail-box .exp-detail .right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #323a45;
}

#careers-detail-box .exp-detail .left span,
#careers-detail-box .exp-detail .right span {
    font-weight: bold;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.boxed .section .section_inner,
.grid_section .section_inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.container_inner,
.boxed .section .section_inner,
.grid_section .section_inner {
    width: 1140px;
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.mpc-column {
    display: block;
}

.ult_s_container,
.upb_video_class,
.vc_row,
.wpb_column,
.wpb_row {
    position: relative;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_col-xs-12,
.vc_column_container {
    width: 100%;
}

.spacer-6149989d44362 {
    height: 100px;
}

.mpc-textblock[id="mpc_textblock-866149989d44424"] {
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

#apply-form {
    background: #fff;
    padding-top: 60px;
    box-shadow: 0 0 32px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
}

.mpc-textblock h1,
.mpc-textblock h2,
.mpc-textblock h3,
.mpc-textblock h4,
.mpc-textblock h5,
.mpc-textblock h6,
.mpc-textblock a,
.mpc-textblock span,
.mpc-textblock div {
    font: inherit;
    text-align: inherit;
    color: inherit;
}

#apply-form form {
    padding: 30px 50px;
}

span.focus-border.border_blue {
    bottom: 47px !important;
}
#apply-form form.apply-now-form input {
    display: block;
    outline: none;
    width: auto;
    border-bottom: 1px solid rgba(200, 207, 212, 1) !important;
    border-style: none none solid;
    color: #323a45;
    font-size: 16px;
    text-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    padding: 0 !important;
}

body,
.wrapper,
.content,
.full_width,
.content .container,
.more_facts_holder {
    background-color: #ffffff;
}

#apply-form h2 {
    border-left: none !important;
}

#apply-form h2 {
    font-weight: 800;
    color: #252b33;
    font-size: 30px;
    margin-bottom: 30px;
}

textarea.message.effect-1 {
    padding: 0 !important;
    margin-top: 13px !important;
}

#apply-form form.apply-now-form label {
    display: inline;
    color: rgba(138, 149, 158, 1);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

#apply-form form.apply-now-form label.required:after,
#apply-form form.apply-now-form textarea.required:after,
#apply-form .colm-three.br-btm-1 p:after,
#apply-form form .education-block table.apply-table tr td.required:after {
    content: "*";
    color: red;
    margin-left: 5px;
}

#apply-form form.apply-now-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-weight: 400;
    color: #323a45;
    background: url(../img/career/drop-down.png) no-repeat right 20px;
    padding: 10px 13px 5px 0px;
    border-radius: 0px;
}

#apply-form form.apply-now-form select,
#apply-form form.apply-now-form textarea {
    display: block;
    outline: none;
    padding: 10px 0px 0px 10px;
    width: 100%;
    border-bottom: 1px solid rgba(200, 207, 212, 1) !important;
    border-style: none none solid;
    color: #323a45;
    font-size: 16px;
    text-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

#apply-form .mr-top-80 {
    margin-top: 80px;
}

#apply-form form.apply-now-form input.effect-1,
#apply-form form.apply-now-form textarea.effect-1 {
    border: 0;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
@media only screen and (max-width: 464px) {
    #apply-form form.apply-now-form input.effect-1,
    #apply-form form.apply-now-form textarea.effect-1 {
        border: 0;
        padding: 0px !important;
        margin-top: 5px !important;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }
}
#apply-form form.apply-now-form input.effect-1~label,
#apply-form form.apply-now-form textarea.effect-1~label {
    position: absolute;
    color: #aaa;
    left: 15px;
    transition: 0.3s;
    top: -20px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 1;
}

#apply-form form.apply-now-form input.effect-1:focus~label,
#apply-form form.apply-now-form textarea.effect-1:focus~label,
#apply-form form.apply-now-form input.effect-1.has-content~label,
#apply-form form.apply-now-form textarea.effect-1.has-content~label {
    top: -20px;
    font-size: 14px;
    color: rgba(138, 149, 158, 1);
    transition: 0.3s;
}

form.apply-now-form input.effect-1:focus~label,
form.apply-now-form textarea.effect-1:valid~label,
form.apply-now-form input.effect-1.has-content~label,
form.apply-now-form textarea.effect-1.has-content~label {
    top: -20px !important;
    font-size: 14px;
    color: rgba(138, 149, 158, 1);
    transition: 0.3s;
}

#apply-form form.apply-now-form label.required:after,
#apply-form form.apply-now-form textarea.required:after,
#apply-form .colm-three.br-btm-1 p:after,
#apply-form form .education-block table.apply-table tr td.required:after {
    content: "*";
    color: red;
    margin-left: 5px;
}

span.focus-border{
    position: absolute;
    bottom: 23px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0675e8;
    transition: all 0.5s ease-in-out;
}

span.focus-border.personal {
    top: 34px;
}

.mpc-textblock p:first-child {
    margin-top: 0;
}

#apply-form form.apply-now-form input.radio {
    display: inline-block;
    margin-left: 0px;
    width: 5%;
    vertical-align: top;
}

#apply-form form.apply-now-form .radio,
#apply-form form.apply-now-form .radio-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    color: #323a45;
    font-size: 16px;
    font-weight: lighter;
}

#apply-form form.apply-now-form .radio {
    opacity: 0;
    position: absolute;
}

#apply-form form.apply-now-form .radio-label {
    position: relative;
    margin-bottom: -2px;
}

#apply-form form.apply-now-form .radio,
#apply-form form.apply-now-form .radio-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    color: #323a45;
    font-size: 16px;
    font-weight: normal;
}

#apply-form form.apply-now-form .radio:checked+.radio-label:before {
    background: #0675e8;
    box-shadow: inset 0px 0px 0px 2px #fff;
    border: 2px solid #0675e8;
}

#apply-form form.apply-now-form .radio+.radio-label:before {
    content: '';
    background: #fff;
    border: 2px solid rgba(200, 207, 212, 1);
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50px;
}

#apply-form form.apply-now-form input.effect-1.has-error,
#apply-form form.apply-now-form textarea.effect-1.has-error {
    border-color: red !important;
}

#apply-form form.apply-now-form input.effect-1,
#apply-form form.apply-now-form textarea.effect-1 {
    border: 0;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

#apply-form form.apply-now-form label.required:after,
#apply-form form.apply-now-form textarea.required:after,
#apply-form .colm-three.br-btm-1 p:after,
#apply-form form .education-block table.apply-table tr td.required:after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.fixed-popup {
    overflow: auto !important;
    background: transparent;
    background-repeat: repeat;
    padding: 50px 0px;
}

#apply-form form .education-block table.apply-table {
    padding-left: 0px;
    border-collapse: separate;
    margin-top: 30px;
}

#apply-form form .education-block table.apply-table tr th {
    color: #0675e8;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    padding-right: 15px !important;
}

#apply-form form .education-block table.apply-table tr td.grey {
    color: #8a959e;
    font-weight: 400;
    vertical-align: middle;
}

#apply-form form .education-block table.apply-table tr td.fnt {
    font-size: 18px;
    color: #323a45;
    vertical-align: middle;
}

#apply-form form .education-block table.apply-table tr td.grey {
    color: #8a959e;
    font-weight: 400;
    vertical-align: middle;
}

#apply-form form .education-block table.apply-table tr th,
#apply-form form .education-block table.apply-table tr td {
    padding: 15px 0px;
    /* border-bottom: 1px solid #c8cfd4; */
    text-align: left;
}

#apply-form form .education-block table.apply-table tr td input {
    border-bottom: 1px solid rgba(200, 207, 212, 1) !important;
    padding: 10px 0px;
    font-weight: normal;
    width: 85%;
}

#apply-form .colm-one {
    width: 100%;
    position: relative;
}

#apply-form .mr-top {
    margin-top: 50px;
}

#apply-form form.apply-now-form input.effect-1,
#apply-form form.apply-now-form textarea.effect-1 {
    border: 0;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

#apply-form form.apply-now-form textarea {
    resize: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0px 0px 10px !important;
}

#apply-form form.apply-now-form .skill label,
#apply-form form.apply-now-form .more-about-you label {
    left: 0px !important;
}

#apply-form .mr-top {
    margin-top: 50px;
}

#apply-form form .upload-file p {
    font-size: 16px;
    color: #8a959e;
}

#apply-form form .upload+label {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 25px;
}


/* #apply-form form .inputfile+label {
    background-color: #8a959e;
    color: #fff;
    transition: all 0.4s ease-in 0s;
    border-radius: 5px;
} */

#apply-form form .upload-file span.file {
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;
    vertical-align: top;
    font-size: 14px;
    color: #8a959e;
}

#apply-form form.apply-now-form input.effect-1:focus~label,
#apply-form form.apply-now-form textarea.effect-1:focus~label,
#apply-form form.apply-now-form input.effect-1.has-content~label,
#apply-form form.apply-now-form textarea.effect-1.has-content~label {
    top: -20px;
    font-size: 14px;
    color: rgba(138, 149, 158, 1);
    transition: 0.3s;
}

#apply-form form.apply-now-form input.effect-1:focus~.focus-border,
#apply-form form.apply-now-form textarea.effect-1:focus~.focus-border,
#apply-form form.apply-now-form input.effect-1.has-content~.focus-border,
#apply-form form.apply-now-form textarea.effect-1.has-content~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
    z-index: 99;
}

/* #apply-form form.apply-now-form input.effect-1~.focus-border,
#apply-form form.apply-now-form textarea.effect-1~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0675e8;
    transition: all 0.5s ease-in-out;
} */

#apply-form form.apply-now-form button.btn {
    background: #0675e8;
    cursor: pointer;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    transition: all 0.9s ease 0s;
    font-weight: 500;
    float: left;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.spacer-61497b8fa4465 {
    height: 80px;
}

body.dark-mode .full_width {
    background-color: #000;
}

.main-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.upload-main-wrapper {
    width: 220px;
    /* margin: 0 auto; */
}

#file-upload-name {
    margin: 4px 0 0 0;
    font-size: 12px;
}

.upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px auto 0;
    position: relative;
    cursor: pointer;
    background-color: rgb(0 123 255 / 50%);
    padding: 8px 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s linear all;
    color: #fff;
}

.upload-wrapper input[type="file"] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
}

.upload-wrapper>svg {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.upload-wrapper.success>svg {
    transform: translateX(-200px);
}

.upload-wrapper.uploaded {
    transition: 0.2s linear all;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    text-align: center;
}

.upload-wrapper .file-upload-text {
    position: absolute;
    left: 80px;
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear all;
}

.upload-wrapper.uploaded .file-upload-text {
    text-indent: -999px;
    margin: 0;
}

.file-success-text {
    opacity: 0;
    transition: 0.2s linear all;
    visibility: hidden;
    transform: translateX(200px);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-success-text svg {
    width: 25px;
    height: auto;
}

.file-success-text span {
    margin-left: 15px;
}

.upload-wrapper.success .file-success-text {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.upload-wrapper.success.uploaded .file-success-text {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.upload-wrapper.success.uploaded .file-success-text span {
    display: none;
}

.upload-wrapper .file-success-text circle {
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transition: 1s linear all;
    transition-delay: 1.4s;
}

.upload-wrapper.success .file-success-text circle {
    stroke-dashoffset: 0;
}

.upload-wrapper .file-success-text polyline {
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transition: 1s linear all;
    transition-delay: 2s;
}

.upload-wrapper.success .file-success-text polyline {
    stroke-dashoffset: 0;
}

.upload-wrapper.success .file-upload-text {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}


/* END  */

@media only screen and (max-width: 1024px) {
    div.grid_section .section_inner .vc_column_container>.vc_column-inner {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    #careers-detail-box .detail-title p,
    #careers-detail-box .exp-detail .left p,
    #careers-detail-box .exp-detail .right p {
        font-size: 14px;
    }
    p {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    #careers-detail-box .career-detail ul li {
        width: 45%;
        font-size: 14px;
    }
    #careers-detail-box .detail-title p,
    #careers-detail-box .exp-detail .left p,
    #careers-detail-box .exp-detail .right p {
        font-size: 14px;
    }
    div.grid_section .section_inner {
        width: 1024px !important;
    }
    #apply-form h2,
    #apply-form .pad {
        padding: 20px 20px !important;
    }
    #apply-form form .education-block table.apply-table {
        padding-left: 20px !important;
    }
    #apply-form form.apply-now-form textarea.effect-1~label {
        text-overflow: ellipsis;
        /* overflow: hidden; */
        width: 15em;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 979px) {
    div.grid_section .section_inner .vc_column_container>.vc_column-inner {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    div.grid_section .section_inner {
        width: 700px !important;
    }
    span.focus-border {
        bottom: 20px;
    }
    span.focus-border.border_blue {
        bottom: 40px !important;
    }
}
/* @media only screen and (max-width: 576px) {
    div.grid_section .section_inner .vc_column_container>.vc_column-inner {
        padding: 0 !important;
    }
} */
@media only screen and (max-width: 767px) {
    div.grid_section .section_inner .vc_column_container>.vc_column-inner {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    #careers-detail-box h1 {
        font-size: 40px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    #careers-detail-box .career-detail ul li {
        width: 100%;
        font-size: 12px;
        margin-bottom: 20px;
    }
    #careers-detail-box .exp-detail .left {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    #careers-detail-box .exp-detail .right {
        width: 100%;
        text-align: center;
    }
    div.grid_section .section_inner {
        width: 445px !important;
    }
    #apply-form {
        padding-top: 30px !important;
    }
    .fixed-popup {
        overflow: auto !important;
    }
    #apply-form form {
        padding: 30px 5px;
    }
    #apply-form h2 {
        padding: 20px 0px 0px !important;
        font-size: 24px !important;
    }
    #apply-form .mr-top-80 {
        margin-top: 30px;
    }
    #apply-form form.apply-now-form input.effect-1,
    #apply-form form.apply-now-form textarea.effect-1 {
        margin-bottom: 0px;
    }
    #apply-form form.apply-now-form .radio-label {
        margin-top: 10px;
    }
    #apply-form form .education-block table.apply-table {
        padding-left: 0px !important;
        margin-top: 0px;
    }
    #apply-form .mr-top {
        margin-top: 20px !important;
    }
    #apply-form form.apply-now-form textarea.effect-1~label {
        text-overflow: ellipsis;
        overflow: visible;
        width: 16em;
        white-space: nowrap;
    }
    #apply-form form .upload-file p {
        font-size: 16px;
        color: #8a959e;
    }
    .nl-form .nl-submit,
    .cd-modal-action .gradient-btn.btn {
        padding: 10px 15px !important;
    }
    span.focus-border.border_blue {
        bottom: 59px !important;
    }
}

@media (max-width: 479px) {
    .spacer-61497b8fa0455 {
        height: 100px;
    }
    div.grid_section .section_inner {
        width: 415px !important;
    }
    .spacer-6149989d44362 {
        height: 60px;
    }
}

@media only screen and (max-width: 350px) {
    .container_inner,
    .boxed div.section .section_inner,
    div.grid_section .section_inner,
    div.column1 .grid_section .section_inner,
    div.column2 .grid_section .section_inner,
    .full_width .parallax_content,
    .carousel-inner .slider_content_outer,
    nav.content_menu {
        width: 95%;
    }
    .section_inner_margin,
    .parallax_section_inner_margin {
        margin: 0;
    }
}
